@media screen and(max-width: 600px) {
  nav, article {
    width: 100%;
    height: 100%;
  }
}
* {
  box-sizing: border-box;
}
.menuTxt{
  text-align: center;
  color: #ddd;
  background-color: #042550;
  padding: 15px;
  border-radius: 5px;
}
nav {
  float: left;
  color: white;
  width: 25%;
  height: 100%; 
  background: #726eff;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navhover li:hover {
  background:#08C6AB;
  width: 100%;
  font-size: 25px;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
}
.navhover a{
  text-decoration: none;
  font-size: 20px;
  color:#042550;
  }
  nav ul {
    list-style-type: none;
    padding: 5px;
    }
    nav li{
      margin-top: 15px;
      }
      nav li:hover{
        border-bottom: 2px solid #042550;
      }
body{
  padding:50px;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #b9a2e6, #81b1c7);
}

article {
  float: right;
  padding: 20px;
  width: 75%;
  height: 100%; 
  color: white;
}
.container{
  max-width: 600px;
  margin:0 auto;
  border-radius: 10px;
  padding:50px;
  box-shadow:-1px -1px 20px 0px rgba(255,255,255,1),
  -4px -4px 5px 0px rgba(255,255,255,1),
  7px 7px 20px 0px rgba(0,0,0,.4),
  4px 4px 5px 0px rgba(0,0,0,.3);
  background: rgb(247,150,192);
  background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
}
.form-group{
  margin-bottom:30px;
}

.btn{
  background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}
.colors{
  color:#320041
}

/*JavaScript*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
text-shadow: 1px 1px 5px white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #042550;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Payment History*/
h2 {
  color: #333;
  padding:10px;
  text-shadow: 1px 1px 5px white;
  }
table {
  width: 75%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}
th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}
td{
  color: #000;
}
th {
  background-color: #1e5896;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}

/*Profile*/
.profile-info {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}
.profile-info h2 {
  text-align: center;
  color: #042550;
}
.profile-info label {
  display: block;
}
.profile-info input[type="text"],
.profile-info input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.profile-info input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  background-color:  #042550;
  cursor: pointer;
  border-radius: 5px;
}
.profile-info input[type="submit"]:hover {
  background-color: lightblue;
  color: #000;
}

/*dashboard*/
.dash {
  max-width: 75%;
  margin: 0 auto;
  background-color: #e0e0e0; /* An elegant light gray background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex; /* Use Flexbox for layout */
  justify-content: space-between; /* Space out the children evenly */
  align-items: center; /* Center the children vertically */
}
.welcome {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  color: #4a4a4a;
}
.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/*Payment Method*/
.form-style {
  max-width: 300px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.label-style {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

.select-style {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  background-color: #f8f8f8;
  color: #444;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select-style:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.submit-style {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  color: white;
  background-color: #042550;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

.submit-style:hover {
  background-color: lightblue;
  color: #000;
}

.dashboard {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.balance {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/*Random-quotes*/
.random-text {
  padding: 30px;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #042550;
    margin: 20px 0;
    font-style: italic;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
    font-size: 24px;
}

/*receipt*/
.receipt {
  color: #000; /* This sets the text color to black */
    background-color: #fff;
    width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 20px;
}
.receipt h2, .receipt h3 {
  text-align: center;
}
.receipt-details {
  margin: 20px 0;
  border-top: 1px solid #ddd;
  padding: 10px 0;
}
.receipt-details:first-child {
  border-top: none;
}

/*receipt-save-img*/
.svimg{
  background-color: #042550; /* Green background */
    border: none; /* Remove border */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* Remove underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: 12px;
}

/*reminders*/
.rem{
  max-width: 100%;
  padding: 20px;
  color: #000;
  border: 1px solid white;
  border-radius: 0px 0px 7px 7px;
}
.reminder {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding: 20px; /* Adjust padding here */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer; /* Changes the cursor when you hover over a reminder */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
  transition: all 0.3s ease; /* Smooth transition */
}
.reminder:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}
.reminder.expanded {
  white-space: normal;
}
@media screen and (max-width: 600px) {
  .reminder {
      white-space: normal;
      text-overflow: clip;
  }
}
